*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
.top-wrapper{
	padding-top: 10px;
	height:100vh;
	background-image:url(backroundberanda.jpg);
	background-size: cover;
	background-position: center;
}
.top-wrapper h1{
	color: white;
	font-family: roboto;
	font-size: 50px;
	margin-top:5%;
	margin-left: 43%;
}
.top-wrapper h2{
	color: white;
	font-family: Roboto Light;
	font-size: 40px;
	margin-left: 31%;
	text-align: center;
	width: 40%;
}
.top-wrapper h3{
	color: white;
	font-style: times new romans;
	font-size: 50px;
	margin-top: 3%;
	width: 20%;
}
nav {
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: space-evenly;
	background-color: rgba(200,255,255, 0.5);
	position: fixed;
	font-family: roboto regular;
}
nav ul li a{
	float: left;
	width: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
	color:black;
}
nav ul li a:hover{
	border-bottom: 4px solid black;
}
nav ul{
	display: flex;
	list-style: none;
	width: 80%;
	padding-left: 40%;
	align-items: center;
	font-family: roboto regular;
	justify-content: space-evenly;
}
.menu{
	display: none;
	flex-direction: column;
	height: 30px;
	justify-content: space-around;
	cursor: pointer;
}
.menu span {
	width: 30px;
	height: 3px;
	border-radius: 5px;
	background-color: black;
}

.open{
	transform: translateY(0);
	transition: 1s;
}


.apaitu-covid{
	height:100vh;
	background-image:url(backroundapaitucovid.jpg);
	background-size: cover;
	background-position: center;
}
.elemen{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:15%;
}
.apaitu-covid p{
	text-align: center;
	font-family: roboto regular;
	font-size: 20px;
	margin-top: 0%;
	margin-bottom: 0%;
}
#kotak{
	width: 500px;
	height: 200px;
	margin: auto;
    background: #262829;
    color: #FFF;;	
	border-radius: 15px;
	font-family: roboto regular;
}
.container{
	padding: 10px;
	margin-top: 10%;
}
.container h1{
	text-align: center;
	font-size: 25px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  background-color: #262829;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 40px;
  width: 80%;
}
.modal-content h1 {
	color: white;
	font-size: 60px;
	font-family: roboto regular;
	margin-right: 50%;
}
.modal-content p{
	color:whitesmoke;
	font-size: 30px;
	font-family: roboto regular;
	margin-right: 15%;
	text-align: left;
	margin-left: 5%;
	padding-bottom: 30px;
}

.btnbox{
	width:100%;
	margin: 30px auto;
	text-align: center;
}
button {
	width: 200px;
	height: 50px;
	margin: 0 10px;
	background: linear-gradient(to top,#52e4ca, black);
	border-radius: 10px;
	border: 0;
	outline: none;
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	margin-top: 20px;
	font-size: 20px;
	font-family: roboto regular;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
	color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.modal2{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content2{
  background-color: #262829;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 40px;
  width: 80%;
}
.modal-content2 h1{
	color: white;
	font-size: 60px;
	font-family: roboto regular;
	margin-right: 50%;
}
.modal-content2 p{
	color:whitesmoke;
	font-size: 30px;
	font-family: roboto regular;
	margin-right: 15%;
	text-align: left;
	margin-left: 5%;
	padding-bottom: 30px;
}

.btnbox2{
	width:100%;
	margin: 30px auto;
	text-align: center;
}
button{
	width: 200px;
	height: 50px;
	margin: 0 10px;
	background: linear-gradient(to top,#52e4ca, black);
	border-radius: 10px;
	border: 0;
	outline: none;
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	margin-top: 20px;
	font-size: 20px;
	font-family: roboto regular;
}

.close2{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close2:hover,
.close2:focus {
	color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.cara-mencegah{
	height:100vh;
	background-image:url(bacroundcaramencegah.jpg);
	background-size: cover;
	background-position: center;
}

.cara-mencegah p{
	text-align: center;
	font-family: roboto regular;
	font-size: 20px;
	margin-top: 0%;
	margin-bottom: 0%;
	text-decoration: none;
}
.kasus-terkini{
	height:100vh;
	background-image:url(backroundkasusterkini.jpg);
	background-size: cover;
	background-position: center;
}
.elemen2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:10%;
}
.kasus-terkini p{
	text-align: center;
	font-family: roboto regular;
	font-size: 20px;
	margin-top: 0%;
	margin-bottom: 0%;
	text-decoration: none;
}
.konsultasi-gejala{
	background-image:url(bacroundkonsul.jpg);
	background-size: cover;
	background-position: center;
}
.konsultasi-gejala p{
	text-align: center;
	font-family: roboto regular;
	font-size: 20px;
	margin-top: 0%;
	margin-bottom: 2%;
}
#kotak2{
	width: 500px;
	height: 400px;
	margin-top: 0%;
	margin-left: 33%;
	margin-bottom: 2%;
    background: #262829;
    color: #FFF;;	
	border-radius: 15px;
	font-family: roboto regular;
}
.container2{
	padding: 10px;
	margin-top: 10%;
}
.container2 p{
	text-align: left;
	font-size: 25px;
}
.td{
	text-align: left;
	font-size: 25px;
}
form{
	padding-top: 20%;
}
.btn-box2{
	width: 100%;
	margin: auto;
	text-align: center;
	margin-bottom: 0%;
}
.btn-box2 button{
	width: 180px;
	height: 50px;
	margin: 0 10px;
	margin-bottom: 0%;
	background: #ff2b59;
	border-radius: 10px;
	border: 0;
	outline: none;
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	margin-top: 10px;
	font-size: 20px;
	font-family: roboto regular;
}
@media (max-width : 1040px) {

	nav ul {
		margin-right: 20px;
	}
	nav a{
		font-size: 13px;
	}
	.top-wrapper h1{
		color: white;
		font-family: roboto;
		font-size: 40px;
		margin-top:5%;
		position: absolute;
	}
	.top-wrapper h2{
		color: white;
		font-family: Roboto Light;
		font-size: 30px;
		text-align: center;
		width: 42%;
		margin-top: 12%;
	
	}
	.top-wrapper h3{
		color: white;
		font-style: times new romans;
		font-size: 36px;
		margin-top: 5%;
		width: 25%;
	}
	#kotak2{
		width: 500px;
		height: 400px;
		margin-top: 0%;
		margin-left: 22%;
		margin-bottom: 2%;
		background: #262829;
		color: #FFF;;	
		border-radius: 15px;
		font-family: roboto regular;
	}
	.btn-box2{
		width: 100%;
		margin-top: 20%;
		text-align: center;
		margin-bottom: 0%;
	}
	.modal-content h1 {
		color: white;
		font-size: 40px;
		font-family: roboto regular;
		margin-right: 50%;
	}
	.modal-content p{
		color:whitesmoke;
		font-size: 20px;
		font-family: roboto regular;
		margin-right: 15%;
		text-align: left;
		margin-left: 5%;
		padding-bottom: 30px;
	}
}
@media (max-width : 568px){
	.menu{
		display: flex;
		z-index: 1;
		margin-top: 10px;
	}
	nav ul{
		flex-direction: column;
		height: 70vh;
		width: 100%;
		padding-right: 35%;
		align-items: center;
		transform: translateY(-100%);
		background-color: #6dffc6;
		position: absolute;
	}
	.top-wrapper h1{
		color: white;
		font-family: roboto;
		font-size: 50px;
		margin-top:30%;
		margin-left: 26%;
	}
	.top-wrapper h2{
		color: white;
		font-family: Roboto Light;
		font-size: 25px;
		text-align: center;
		width: 60%;
		margin-left: 20%;
		margin-top: 45%;
	
	}
	.top-wrapper h3{
		color: white;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 25px;
		margin-top: 10%;
		width: 45%;
		margin-left: 10px;
	}
	#kotak2{
		width: 500px;
		height: 400px;
		margin-top: 0%;
		margin-left: 5%;
		margin-bottom: 2%;
		background: #262829;
		color: #FFF;;	
		border-radius: 15px;
		font-family: roboto regular;
	}
	.modal-content h1 {
		color: white;
		font-size: 27px;
		font-family: roboto regular;
		margin-right: 50%;
	}
	.modal-content p{
		color:whitesmoke;
		font-size: 18px;
		font-family: roboto regular;
		margin-right: 15%;
		text-align: left;
		margin-left: 5%;
		padding-bottom: 30px;
	}
	#kotak{
		width: 400px;
		height: 200px;
		margin: auto;
		background: #262829;
		color: #FFF;;	
		border-radius: 15px;
		font-family: roboto regular;
	}
	.container h1{
		text-align: center;
		font-size: 22px;
	}
	#kotak2{
		width: 400px;
		height: 400px;
		margin-top: 0%;
		margin-bottom: 2%;
		background: #262829;
		color: #FFF;;	
		border-radius: 15px;
		font-family: roboto regular;
	}
}
.konsultasi-gejala .text{
	margin-left: 18%;
	margin-bottom: 6%;
	margin-top: 2%;
}
.konsultasi-gejala .text #text1 p{
	float: left;
	font-size: 15px;
	color: gray;
	margin-right: 100px;
	text-align: center;
}
.konsultasi-gejala .text #text2 p{
	float: left;
	font-size: 15px;
	color: gray;
	margin-right: 100px;
	text-align: center;
	width:150px;
}
.konsultasi-gejala .text #text3 p{
	float: left;
	font-size: 15px;
	color: gray;
	margin-right: 100px;
	text-align: center;
	width:200px;
}.konsultasi-gejala .text #text4 p{
	float: left;
	font-size: 15px;
	color: gray;
	margin-right: 100px;
	text-align: center;
	width:250px;
}